# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
.eggs/

# Virtual environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.iml

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Tunnel binary
cloudflared.exe
